@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?17516b540181d966ee65e0a52a252c1e") format("truetype"),
url("./flaticon.woff?17516b540181d966ee65e0a52a252c1e") format("woff"),
url("./flaticon.woff2?17516b540181d966ee65e0a52a252c1e") format("woff2"),
url("./flaticon.eot?17516b540181d966ee65e0a52a252c1e#iefix") format("embedded-opentype"),
url("./flaticon.svg?17516b540181d966ee65e0a52a252c1e#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cloud:before {
    content: "\f101";
}
.flaticon-moon:before {
    content: "\f102";
}
.flaticon-car:before {
    content: "\f103";
}
.flaticon-tree-silhouette:before {
    content: "\f104";
}
.flaticon-mountain:before {
    content: "\f105";
}
